__pycache__/
*.pyc
*.pyo
*.pyd

.env
app/.env

.git/
.github/

Screenshorts/
screenshots/
*.png
*.jpg
*.jpeg

*.zip
*.tar
*.gz

.vscode/
.idea/

.pytest_cache/
.mypy_cache/

README.md
TASK07_REPORT.md
cloudformation/